[Desktop Entry]
Type=Application
Name=Caneda
GenericName=EDA Suite
Comment=Schematic capture, circuit design and simulation
Exec=caneda %U
Icon=caneda
Categories=Development;Electronics;
MimeType=application/x-caneda;
